<h1 class="text-center"> Addresses </h1>

<% @addresses.each do |address| %>
    <%= link_to address, class: "no-underline" do %>
        <div class="max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden hover:shadow-2xl">
            <div class="text-center mx-auto">
                <h3><%= "%s %s" % [address.first_name, address.last_name] %></h3>
                <p><%= address.address %></p>
            </div>
        </div>
    <% end %>
<% end %>